<li>
	{{this.burger_name}}
	<br>

	<button class = "change-eat" data-id = "{{id}}" data-newdevoure = "{{devoure}}">
		{{#if devoure}}DEVOUR!!!!{{else}}ORDER AGAIN{{/if}}
	</button>

	<button class = "delete-burger" data-id = "{{this.id}}">DELETE!</button>
	<br><br>
</li>